div {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: purple;
    width: 405px;
    height: 605px;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}


 img{
    width: 110px;
    height: 85px;
 }